#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.1
Name=VideoImageConverter
Comment=Video to APNG-Converter
Exec=VideoImageConverter
Icon=apng-vic
Terminal=false
